.tech-container {
	height: 85vh;
	width: 100vw;
}

.tech-para {
	font-family: "Barlow";
	box-sizing: border-box;
	font-weight: 400;
	font-size: 24px;
	padding-top: 5vh;
	padding-left: 10rem;
	padding-bottom: 5vh;
}

.tech-para-span {
	color: grey;
	font-weight: 800;
	transition: ease-in-out;
	padding-right: 5px;
}

.tech-card-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 70vh;
	width: 100%;
}

.tech-card {
	display: flex;
	flex-direction: row;
	padding: 5rem;
	width: 50%;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.tech-title {
	font-family: "Bellefair";
	font-size: 28px;
	color: grey;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 2vh;
}

.tech-name {
	font-family: "Bellefair";
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 2vh;
}

.tech-desc {
	font-family: "Barlow";
	font-size: 16px;
	font-weight: 200;
	padding-bottom: 2vh;
}

.tech-card-img {
	margin-bottom: 3rem;
	max-height: 100%;
	max-width: auto;
}

.tech-deets {
	padding: 6rem;
}

.tech-details {
	display: flex;
	flex-direction: row;
}

.tech-btns {
	padding-right: 2rem;
}

.tech-btn {
	margin-bottom: 1rem;
	font-family: "Barlow";
	cursor: pointer;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

.tech-btn:hover {
	background-color: white;
	color: black;
	transition: 500ms;
}

/* Media Queries for Tablet*/

@media (max-width: 769px) {

	.tech-para {
		padding-top: 3vh;
		padding-bottom: 3vh;
		font-size: 16px;
		padding-left: 7rem;
	}
	.tech-card-container {
		flex-direction: column-reverse;
		height: 76vh;
		justify-content: center;
		align-items: center;
	}
	.tech-card {
		width: 70%;
	}
	.tech-title {
		font-size: 24px;
	}

	.tech-btn {
		margin-left: 1rem;
		height: 3.5rem;
		width: 3.5rem;
	}
	.tech-card-img {
		box-sizing: content-box;
		height: 10vh;
		width: auto;
		background-image: url("https://raw.githubusercontent.com/anmol-gh/space-tourism/master/src/Assets/technology/image-launch-vehicle-landscape.jpg");
	}
	.tech-deets {
		display: flex;
		flex-direction: column;
	}

	.tech-card-details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
