.destination-container {
	height: 85vh;
	width: 100vw;
}

.destination-para {
	font-family: "Barlow";
	box-sizing: border-box;
	font-weight: 400;
	font-size: 24px;
	padding-top: 5vh;
	padding-left: 10rem;
	padding-bottom: 5vh;
}

.destination-para-span {
	color: grey;
	font-weight: 800;
	padding-right: 5px;
}

.destination-card-container {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 100%;
	height: 70vh;
}

.destination-card {
	width: 50%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.destination-card:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.destination-card-img {
	width: 30vw;
	height: 30vw;
}

.card-details {
	width: 70%;
	height: 30vw;
}

.card-nav {
	display: flex;
}

.card-btn {
	cursor: pointer;
	padding: 0.5rem;
	margin-left: 1rem;
	background: none;
	color: #ffffff;
	font-family: "Barlow";
	border: none;
	font-size: 18px;
	border-bottom: #ffffff00 2px solid;
}

.card-btn:hover {
	border-bottom: #ffffff 2px solid;
	transition: 300ms;
}

.card-heading {
	font-family: "Bellefair";
	font-weight: 500;
	font-size: 96px;
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.card-desc {
	font-family: "Barlow";
	transition: ease-in;
	font-weight: 200;
	font-size: 18px;
	padding-bottom: 3vh;
}

.card-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 5vw;
}

.destination-hr {
	width: 100%;
	margin-bottom: 3vh;
}
.card-footer > div >h6 {
	font-family: "Barlow Condensed";
	letter-spacing: 2px;
	color: gray;
	text-transform: uppercase;
}
.footer-deets {
	font-family: "Barlow";
	color: white;
	font-weight: lighter;
	font-size: larger;
	text-transform: uppercase;
}
/* Media Queries for Tablet*/

@media (max-width: 769px) {
	.destination-card-container {
		flex-direction: column;
		justify-items: center;
		align-items: center;
		height: 76vh;
		justify-content: space-around;
	}

	.destination-para {
		padding-top: 3vh;
		padding-bottom: 3vh;
		font-size: 16px;
		padding-left: 7rem;
	}
	.destination-card {
		padding: 0;
	}

	.card-nav {
		width: 100%;
		justify-content: space-between;
	}

	.card-details {
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
	.card-btn {
		margin-left: 0;
	}

	.card-heading {
		font-size: 48px;
		padding-top: 2vh;
		padding-bottom: 2vh;
	}

	.card-footer {
		width: 90%;
	}

	.card-desc {
		text-align: center;
		font-size: 14px;
	}
}

/* Media Queries for Mobile*/

@media (max-width: 426px) {
	.destination-card {
		width : 70%;
	}
}

@media (max-width: 320px) {
	.card-btn {
	font-size: 12px;
	}
}